__pycache__/
*.py[cod]
*.so
.ruff_cache/
.mypy_cache/
.pytest_cache/
.venv/
./data/time_log.csv
export.md
.python-version
dist/
build/
*.sqlite3
*.db
*.log
.env
.env.*
.DS_Store
tmp/
.cache/
.envrc
references/